<%-include('../common/_index.ejs')%>
<!--ESTE ES EL FORMATO QUE CREAMOS CON EL PROFE JUAN    
    <div class="container">
    <h1>
        <%= article.title %>
    </h1>
    <h5>
        <%= article.author %>
        <br>
        <%= article.markdown %>
    </h5>
    <div>
        <%= article.createdAt.toLocaleDateString() %>
    </div>
    <div>
        <%- article.description %>
    </div>
    <a href="/" class="btn btn-outline-secondary">
        <i class="bi bi-arrow-left-circle-fill"></i>
    </a>
</div>
-->
<div class="container center mx-auto" style="max-width:800px;">
    <div class="card border-light mb-3" >
        <div class="card-header">
            <h4 class="card-title">
                <%= article.title %>
            </h4>
        </div>
        <div>
            <%= article.createdAt.toLocaleDateString() %>
        </div>
        <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p> <%= article.description %> </p>
            <footer class="blockquote-footer"><%= article.author %>. <cite title="Source Title"><%= article.markdown %></cite></footer>
        </blockquote>
        </div>
    </div>
</div>
<br>
<div>
    <a href="/" class="btn btn-outline-secondary ms-5">
        <i class="bi bi-arrow-left-circle-fill"></i> Ir al inicio
    </a>
</div>